# 01. intro

## shortcut
- ctrl + enter : 현재 셀 실행
- shift + enter : 현재 셀 실행 & 아래로 이동
- alt + enter : 현재 셀 실행 & 아래에 새로운 셀 추가

## 주의사항

1. Apple / apple
2. git add . / git add.
3. message / massage

## 1. 변수

변수이름 = 값

- 변수이름은 어떤 이름이든 사용가능
- 다만 영어, 숫자, _ 를 이용하여 선언
- 키워드는 사용 불가

In [58]:
a = 30

In [59]:
a

30

In [61]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [62]:
seoul_dust_rate = 10

### 1.1 number

In [63]:
a = 100000

In [64]:
a

100000

In [65]:
type(a)

int

In [66]:
b = 1.1

In [67]:
b

1.1

In [69]:
type(b)

float

In [70]:
c = 1 - 4j

In [71]:
c

(1-4j)

In [73]:
type(c)

complex

### 1.2 boolean

True, False로 이루어진 타입

In [75]:
a = True

In [77]:
a

True

In [78]:
type(a)

bool

In [80]:
b = False

In [81]:
b

False

In [82]:
type(b)

bool

### 1.3 None

In [85]:
a = None

In [86]:
type(a)

NoneType

### 1.4 String

- 문자열은 `'`, `"` 를 이용하여 표현

In [88]:
a = 'hello'

In [90]:
type(a)

str

In [91]:
b = "world"

In [92]:
type(b)

str

In [98]:
age = input()
print(age)
print(type(age))

 123

123
<class 'str'>

In [102]:
# print('안녕하세요 '오창희'입니다.')
print("안녕하세요 '오창희'입니다.")
print('안녕하세요. "오창희"입니다.')

안녕하세요 '오창희'입니다.
안녕하세요. "오창희"입니다.

In [103]:
print('안녕하세요. \'오창희\'입니다.')

안녕하세요. '오창희'입니다.

In [105]:
a = '''
안녕하세요 '오창희'입니다.
여러줄도 작성가능합니다.
'''
print(a)

안녕하세요 '오창희'입니다.
여러줄도 작성가능합니다.

In [108]:
print('안녕하세요. \n오창희입니다. \t들여쓰기 이스케이프 문자열입니다.')

안녕하세요.
오창희입니다. 	들여쓰기 이스케이프 문자열입니다.

#### string interpolation

1. %-formatting
2. str.format()
3. f-string

In [109]:
age = 10

In [110]:
print('홍길동은 %s살 입니다.' % age)

홍길동은 10살 입니다.

In [111]:
print('홍길동은 {}살 입니다.'.format(age))

홍길동은 10살 입니다.

In [112]:
print(f'홍길동은 {age}살입니다.')

홍길동은 10살입니다.

## 2. 연산자

### 2.1 산술연산자

In [215]:
a = 7
b = 3

In [115]:
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a ** b)

5
-1
6
0.6666666666666666
8

In [216]:
# a를 b로 나눈 몫
print(a // b)
# a를 b로 나눈 나머지
print(a % b)
# 몫과 나머지를 같이 출력해주는 함수
print(divmod(a, b))

2
1
(2, 1)

In [220]:
result = divmod(a, b)
print(type(result))
print(result[0] + result[1])

<class 'tuple'>
3

### 2.2 비교연산자

In [123]:
a = 5
b = 10

In [125]:
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

False
True
False
True

In [128]:
print(a == b)
print(a != b)

False
True

In [130]:
print('hi' == 'hi')
print('Hi' == 'hi')

True
False

### 2.3 논리 연산자

- and : 양쪽 모두 Ture일 때, True를 반환
- or : 양쪽 모두 False일 때, Fasle를 반환
- not : 값을 반대로 전환

In [131]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [136]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [139]:
result = True
print(not result)

False

In [141]:
# 단축평가 (and)

print(3 and 5)
print(3 and 0)
print(0 and 3)
print(0 and 0)

5
0
0
0

In [142]:
# 단축평가 (or)

print(3 or 5)
print(3 or 0)
print(0 or 3)
print(0 or 0)

3
3
3
0

### 2.4 복합 연산자

In [143]:
a = 1
b = 2

In [ ]:
a = a + b
a = a - b
a = a * b
a = a / b

In [144]:
a += b
a -= b
a *= b
a /= b
a //= b
a %= b
a **= b

### 2.5 기타 연산자

In [145]:
a = 'hi'
b = 'hello'

In [146]:
# concatenation
print(a + b)

hihello

In [148]:
a = [1, 2, 3]
b = [4, 5, 6]

In [150]:
print(a + b)

[1, 2, 3, 4, 5, 6]

In [159]:
# containment
print(1 in a)
print(10 in a)

True
False

In [165]:
# identity

a = 257
b = 257

print(a == b)
print(a is b)

True
False

In [162]:
a = 123123
b = 123123

print(a == b)
print(a is b)

True
False

#### 우선순위

0. ()를 통해 그룹
1. **
2. 산술연산자(*, /)
3. 산술연산자(+, -)
4. 비교연산자, in, is
5. not
6. and
7. or

In [169]:
print(-3 ** 4)
print((-3) ** 4 )

-81
81

## 3. 형변환

### 3.1 암시적 형변환

In [170]:
a = True
b = False
c = 1

In [172]:
print(a + b)
print(b - c)

1
-1

In [174]:
int_num = 3
float_num = 3.3
complex_num = 3 + 3j

In [177]:
print(type(int_num + float_num))
print(float_num + complex_num)

<class 'float'>
(6.3+3j)

### 3.2 명시적 형변환

- int() : string, float => int
- float() : string, int => float
- str() : int, float => string
- bool() : int, sting => bool

int(str)   int(float)

In [178]:
a = 1
b = '번'

In [184]:
print(a + b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [186]:
print(str(a) + b)

1번

In [189]:
a = '3'
print(type(a))
print(type(int(a)))

<class 'str'>
<class 'int'>

In [193]:
a = 'a'
print(int(a))

ValueError: invalid literal for int() with base 10: 'a'

In [195]:
a = '3.3'
print(float(a))

3.3

In [198]:
a = 1
b = 0

print(bool(a))
print(bool(b))

True
False

In [203]:
print(bool([]))
print(bool([1, 2, 3]))

False
True

## 4. 시퀀스 자료형

시퀀스는 데이터의 순서대로 나열된 자료구조. (순서대로 나열되었다는 것은 정렬된것과 다르다)

1. List
2. Tuple
3. Range
4. String

### 4.1 List (리스트, 배열)

- 선언 : 변수이름 = [value1, value2, value3 ...]
- 접근 : 변수이름[index]

In [205]:
l = []
print(l)
print(type(l))

[]
<class 'list'>

In [210]:
location = ['서울', '대전', '부산']
print(location)
print(location[2])

location[1] = '광주'
print(location)

['서울', '대전', '부산']
부산
['서울', '광주', '부산']

### 4.2 Tuple (튜플)
- 선언 : 변수이름 = (value1, value2, value3)
- 접근 : 변수이름[index]
- 리스트와 유사하지만 수정 불가능(immutable)이다.

In [212]:
numbers = (123, 456, 789)
print(numbers)
print(numbers[1])

(123, 456, 789)
456

In [221]:
numbers[1] = 654

TypeError: 'tuple' object does not support item assignment

In [224]:
(x, y) = (1, 2)
print(x, y)

x, y = y, x
print(x, y)

1 2
2 1

### 4.3 Range

- range(n) : 0부터 n-1까지 범위
- range(n, m) : n부터 m-1까지 범위
- range(n, m, s) : n부터 m-1까지 s 만큼 증가하는 범위

In [226]:
lotto = range(45)
print(lotto)
print(list(lotto))

range(0, 45)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44]

In [227]:
numbers = range(5, 10)
print(numbers)
print(list(numbers))

range(5, 10)
[5, 6, 7, 8, 9]

In [231]:
even = range(2, 20, 2)
print(even)
print(list(even))

range(2, 20, 2)
[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [233]:
numbers = range(0, -10, -2)
print(numbers)
print(list(numbers))

range(0, -10, -2)
[0, -2, -4, -6, -8]

### 4.4 String
기본 데이터 구조 참고

### 4.5 시퀀스에서 활용가능한 연산/함수

In [234]:
my_list = [1, 2, 3, 4, 5]
my_tuple = (1, 2, 3, 4, 5)
my_range = range(5)
my_string = '12345'

In [239]:
# indexing
print(my_list[0])
print(my_tuple[0])
print(my_range[0])
print(my_string[0])

1
1
0
1

In [244]:
# slicing
print(my_list[1:3])
print(my_tuple[1:3])
print(my_range[1:3])
print(my_string[1:3])

print(my_string[0:4:2])

[2, 3]
(2, 3)
range(1, 3)
23
13

In [250]:
# in
print(1 in my_list)
print(1 in my_tuple)
print('1' in my_string)

# not in
print(1 not in my_list)

True
True
True
False

In [256]:
# concatenation
print(my_list + [6, 7, 8, 9, 10])
print(my_tuple + (6, 7, 8, 9, 10))
print(my_string + '678910')

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
12345678910

In [261]:
# *
print('#' * 10)
print([0] * 10)

##########
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [263]:
print(len(my_list))

5

In [264]:
print(max(my_list))

5

In [265]:
print(min(my_list))

1

## 5. 시퀀스형이 아닌 자료구조

### 5.1 Set
수학에서 사용하는 집합과 동일한 개념 (중복값이 없음)

- 선언 : 변수이름 = {value1, value2, value3 ...}

In [267]:
my_set_a = {1, 3, 5, 7, 9}
my_set_b = {1, 2, 3, 4, 5}

In [271]:
print(my_set_a - my_set_b)
print(my_set_a | my_set_b)
print(my_set_a & my_set_b)

{9, 7}
{1, 2, 3, 4, 5, 7, 9}
{1, 3, 5}

In [272]:
test_set = {1, 2, 3, 4, 1, 3, 4, 5, 6, 1, 2, 3, 4, 5}
print(test_set)

{1, 2, 3, 4, 5, 6}

### 5.2 Dictionary

- 선언 : 변수이름 = {key1: value1, key2: value2, ...}
- 접근 : 변수이름[key]

In [275]:
my_dict = {'서울': '02', '경기': '031'}
print(my_dict)
print(my_dict['서울'])

{'서울': '02', '경기': '031'}
02

In [278]:
my_info = {
    'name': 'changhee',
    'location': 'seoul',
    'age': 10,
}

print(my_info['location'])

seoul

In [280]:
my_info.keys()

dict_keys(['name', 'location', 'age'])

In [282]:
my_info.values()

dict_values(['changhee', 'seoul', 10])

##### 데이터 타입
1. Number
2. Boolean
3. String

##### 자료구조
- 시퀀스 자료형

1. [List] : mutable
2. (Tuple) : immutable
3. range() : immutable
4. 'String' : immutable


- 시퀀스가 아닌 자료형

1. {Set} : mutable
2. {Dict: ionary} : mutable

In [288]:
a = [1, 2, 3]
a[1] = 10
print(a)

[1, 10, 3]

In [290]:
b = 'hello'
print(b[1])
b[1] = 'a'

e

TypeError: 'str' object does not support item assignment