# 주석입니다

## 1. 변수

변수이름 = 값

- 변수이름 어떤이름이든 사용가능
- 다만 영어, 숫자, _를 이용하여 선언
- 키워드는 사용불가

  변수로쓰지만 상수인 것일떄 영어대문자 씀

In [108]:
import keyword
keyword. kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [109]:
seoul_dust_rate = 3

### 1.1 number

In [111]:
a = 110001001010

In [112]:
a

110001001010

In [113]:
type(a)

int

In [114]:
b = 1.1

In [115]:
type(b)

float

In [116]:
 c = 1 - 4j

In [117]:
type(c)

complex

### 1.2 boolean

True, False 으로 이루어진 타입
= 1,0

In [119]:
a = True

In [120]:
b = False

In [121]:
type(a)

bool

In [122]:
type(b)

bool

In [123]:
type(a + b)

int

컴퓨터는 계산기

장점은

저장
반복
계산 (논리적 계산 분류, 산술등)

분기문 if
사람이 보기 좋은 형태 = 순서도 = 알고리즘

### 1.3 None

없는 것도 정보

In [125]:
a = None

In [126]:
type(a)

NoneType

### 1.4 String

- 문자열은 `'`, `"`를 이용해서 표현

In [129]:
a = 'hello'

In [130]:
type(a)

str

In [131]:
b = "hello"

In [133]:
type(a + b)

str

In [150]:
age = input()
print(age)
print(type(age))
type(age)

 1212

1212
<class 'str'>

str

In [156]:
print("안녕하세요 '오창희' 입니가")

print('하릴ㄹ"ㅇㅇㅇㅇ" 이응리')

안녕하세요 '오창희' 입니가
하릴ㄹ"ㅇㅇㅇㅇ" 이응리

In [161]:
print('안녕하세요. ')

안녕하세요.

In [162]:
a = '''
안녕하세요 이시운 입니다.
'''
print(a)

안녕하세요 이시운 입니다.

In [163]:
print('문장이다 \n 줄바꾸고 \t 들여쓰고 "콤마" \'콤마\' 끝')

문장이다
 줄바꾸고 	 들여쓰고 "콤마" '콤마' 끝

변수를 문자로
string interpolating
1. %-formatting
2. srt.format()
3. f-string

In [169]:
age = 10

In [170]:
print('홍길동은 %s살 입니다.'% age)

홍길동은 10살 입니다.

In [171]:
print('홀기롤ㅇ은 {}살입니다' .format(age))

홀기롤ㅇ은 10살입니다

In [172]:
print(f'홍길동은 {age}살입니다. ')

홍길동은 10살입니다.

## 2. 연산자
# 2.1 산술 연산자

In [176]:
a = 7
b = 3

In [185]:
print(a + b)
print(a ** b)
print(a * b)
print(a // b)
# 나눈 몫
print(a % b)
# 나머지
print(divmod(a, b))
# 몫과 나머지


# 연산자 양옆은 띄어쓰기 관례

# a = b 좌에 우를 대입

5
8
6
0
2
(0, 2)

## 2.2 비교연산자

In [183]:
#  비교연산자
print(a > b)
print(a <= b)
print(a >= b)
# 같나요? (문자도 가능)
print(a == b)
# 다른가요?
print(a != b)

False
True
False
False
True

print(

In [184]:
print(a*b==a+b)

False

## 2.3 논리 연산자 
 - and : 참 참 => 참
 - or : 거 거 => 거
 - not : 참 <=> 거

In [186]:
# and
print(True and True)
print(True and False)
print(False and True)
print(False and False)

# or
print(True or True)
print(True or False)
print(False or True)
print(False or False)

# not
print(not True)
print(not False)

True
False
False
False
True
True
True
False
False
True

In [193]:
# 단축 평가 and
# print(p and q)

print(2 and 3)
print(2 and 0)
print(0 and 3)
print(0 and 0)

# t t/f => t/f
# f t/f => f

# 단축평가 or
print(2 or 3)
print(2 or 0)
print(0 or 3)
print(0 or 0)

# t t/f => f
# f t/f => t/f

3
0
0
0
2
2
3
0

### 2.4 복합 연산자

In [195]:
a = 1
b = 2

In [196]:
a = a + b
a = a - b
a = a * b
a = a / b

In [197]:
a += b
a -= b
a *= b
a /= b
a //= b
a %= b
a **= b

### 2.5 기타연산자

In [200]:
a = 'hi'
b = 'hello'

# concatenation 콘케트네이션 (시퀀스형데이터는 가능하다)
print(a + b)

In [202]:
a = [1, 2, 3]
b = [3, 4, 5]

In [203]:
print(a + b)

[1, 2, 3, 3, 4, 5]

In [205]:
# containment
print( 1 in a)
print(10 in a)

True
False

In [211]:
# idntity

a = 5
b = 5

print(a == b)
print(a is b)

True
True

In [207]:
a = 123123
b = 123123

print(a == b)


print(a is b)
# 왜 결과가 다른가 is 는 결과가 값이 아니라 메모리 값을 본다
# -5 ~ 256인가 까지는 자주쓰는 값으로 메모리 위치가 이미 지정되어 있어서 위의 경우는 True 가 나옴

True
False

### 우선순위

0. ()괄호를 통한 그룹
1. **
2. 산술연산자(*, /)
3. 산술연산자(+, -)
4. 비교연산자,in ,is
5. not
6. and
7. or

In [223]:
print((((3+2)*4+1)+1)*3)

66

### 3. 형번환
## 3.1 암시적 형변환
#암시적(알아서)

In [222]:
a = True
b = False
c = 1
#자주이용

In [219]:
print(a + b)
print(b - c)

1
-1

In [3]:
int_num = 3
float_num = 3.3
complex_num = 3 + 3j

In [4]:
print(int_num + float_num)

6.3

In [5]:
print(type(int_num + float_num))
print(floar_num + comlex_num)

<class 'float'>

NameError: name 'floar_num' is not defined

### 3.2 명시적 형변환

- int() : sreing , float => int
-

In [6]:
a = 1
b = '번'

In [7]:
print(a + b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [8]:
print(b + a)

TypeError: can only concatenate str (not "int") to str

In [10]:
print(str(a) + b)

1번

In [12]:
a = '3'
print(type(int(a)))
print(type(int(a)))

<class 'int'>
<class 'int'>

In [15]:
a = 'a'
print(int(a))

ValueError: invalid literal for int() with base 10: 'a'

In [17]:
a = '3.3'
print(float(a))

3.3

In [21]:
a = 1
b = 0
c = 3
print(bool(a))
print(bool(b))
print(bool(c))

True
False
True

In [20]:
print(bool([]))
print(bool([1, 2, 3]))

False
True


### 4. 시퀀스 자료형

시퀀스는 데이터의 순서대로 나열된 자료구조.
(순서대로 나열된 자료구조)
(정렬된것과는 무관하다)
시퀀스와 / 시퀀스가 아닌 테이더

1. List
2. Tuple
3. Range
4. String

### 4.1 List ( 리스트 , 배열 (어레이))

- 선언 : 변수이름  = [value1, value2, value3 ...]
- 접근 : 변수이름[index]

여러 데이터 또는 상관관계가 있는 데이터를 주로 묶음

In [23]:
l = []
print(l)
print(type(l))

[]
<class 'list'>

In [35]:
location = ['서울', '대전', '부산']
print(location)
print(location[1])
print(location[0])

['서울', '대전', '부산']
대전
서울

In [38]:
location[1] = '광주'
print(location)

['서울', '광주', '부산']

### 4.2 Tuple

- 선언 : 변수이름 = (value1, value2, value3 ...)
- 접근 : 변수이름[index]

리스트와 표시가 소괄호인 차이
튜플은 수정 불가능(immutable)이다.
사용할일 잘 없음

In [42]:
numbers = (1, 2, 3)
print(numbers)
print(numbers[1])

(1, 2, 3)
2

In [43]:
numbers[1] = 654

TypeError: 'tuple' object does not support item assignment

In [49]:
x, y = (1, 2)
# (x, y) = (1, 2)
print(x, y)

x, y = y, x
print(x, y)

1 2
2 1

### 4.3 Range





range(n) = 0부터 n-1까지 범위
range(n ,m) = n부터 m-1까지
range(n, m, s) = n부터 m-1 s만큼씩가는 범위

생략된 것 range(0, n, 1)

In [54]:
lotto = range(45)
print(lotto)
print(list(lotto))

range(0, 45)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44]

In [58]:
otto = range(0)
print(otto)
print(list(otto))

range(0, 0)
[]

In [57]:
lotto = range(5, 10)
print(lotto)
print(list(lotto))

range(5, 10)
[5, 6, 7, 8, 9]

In [60]:
even = range(2, 20, 2)
print(even)
print(list(even))

range(2, 20, 2)
[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [69]:
nn = range(0, -10 ,-2)
print(nn)
print(list(nn))

range(0, -10, -2)
[0, -2, -4, -6, -8]

### 4.4 String

기본 데이터 구조 참고
' " 문자열
하나짜리 데이터가 아니라 각 문자의 나열로 간주

### 시퀀스에서 활용 가능한 연산/함수

In [77]:
my_list = [1, 2, 3, 4, 5]
my_tuple = (1, 2, 3, 4, 5)
my_range = range(5)
my_string = '12345'

In [72]:
# indexing 찾기
print(my_list[1])

2

In [81]:
# slicing 범위찾기
# [n:m] 0부터 n번째 부터 m-1 번쨰 항 까지
# 이상 미만 표현
# n+1번쨰항부터 m-1번쨰 항까지?
print(my_list[1:3])
print(my_tuple[1:3])
print(my_range[1:3])
print(my_string[1:3])

print(my_list[0:4:2])

[2, 3]
(2, 3)
range(1, 3)
23
[1, 3]

In [85]:
# in 있나요 
print(1 in my_list)
print(1 in my_tuple)
print(1 in my_range)
print('1' in my_string)

# not in
print(1 not in my_list)

True
True
True
True
False

In [89]:
# conatenation 연결
print(my_list +[6, 7, 8, 9, 10])
print(my_tuple +(6, 7, 8, 9, 10))
# my_range 리스트로바꿔서 해야 가능
print(my_string + '678910')

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
12345678910

In [93]:
#  *
print('#' * 10)
print([0] * 10)
print([0, 1] * 10)
print(([0], [1]) * 10)

##########
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1]
([0], [1], [0], [1], [0], [1], [0], [1], [0], [1], [0], [1], [0], [1], [0], [1], [0], [1], [0], [1])

In [96]:
print(len(my_list))
print(max(my_list))
print(min(my_list))

5
5
1

### 5. 시퀀스형이 아니니 자료구조

### 5.1 set
수학의 집합
- 선언 : 변수이름  = {value1, value2, value3 ...}

덧셈 뺼셈 교집합 합집합 가능 중복값/순서 무관

In [98]:
my_set_a = {1, 3, 5 ,7, 9}
mt_set_b = {1, 2, 3, 4, 5}
# = {1,1,1,5,4,3,3,2,1} 중복값/순서 무관

In [99]:
# 차집합
print(my_set_a - mt_set_b
# 합집합
print(my_set_a | mt_set_b)
# 교집합
print(my_set_a & mt_set_b)

{9, 7}
{1, 2, 3, 4, 5, 7, 9}
{1, 3, 5}

### 5.2 dictionary
- 선언 : 변수이름  = {key1: value1, value2, value3 ...}
- 접근

맵 메쉬 키벨류 등 의 다른 언어 이름 있음

In [102]:
my_dict = {'서울': '02', '경기': '031'}
print(my_dict)
print(my_dict['서울'])

{'서울': '02', '경기': '031'}
02

In [108]:
# 표기법
my_info = {
    'name': 'shiun',
    'location': 'paju',
    'age': '100'
}

In [111]:
my_info.keys()

dict_keys(['name', 'location', 'age'])

In [114]:
my_info.values()

dict_values(['shiun', 'paju', '100'])

In [ ]:
#### 데이터 타입 
1.

### 로또

In [1]:
n = input("몇장을 구매하시겠습니까")
nnn = int(n) * 1000
print(f'로또 구매에 {nnn}원을 사용하셨습니다.')

# 당첨번호
import requests
r=requests.get('https://www.dhlottery.co.kr/common.do?method=getLottoNumber&drwNo=1126')

lotto_dict = r.json()

win = {lotto_dict['drwtNo1'], lotto_dict['drwtNo2'], lotto_dict['drwtNo3'], lotto_dict['drwtNo4'], lotto_dict['drwtNo5'], lotto_dict['drwtNo6'] }
bn = lotto_dict['bnusNo']
print(win)
print('BN:')
print(bn)

# n번 구매


import random
jun = range(1, 46)

dasan = []
for times in range(0,int(n)):
    san = random.sample(jun, 6)
    san.sort()
    san = set(san)
    dasan.append(san)

print(dasan)

#당첨 확인

dangm = 0
for k in range(0, int(n)):
    nsan = dasan[k]
    ilge = win-nsan
    ilge = len(ilge)
    ilge = 6 - ilge
    if ilge == 6:
        print('1등')
        dangm += 1000000000
    elif ilge == 5:
        if bn in nsan:
            print('2등')
            dangm += 10000000
        else:
            print('3등')
            dangm += 1000000
    elif ilge == 4:
        print('4등')
        dangm += 50000
    elif ilge == 3:
        print('5등')
        dangm += 5000
    else:
        
        print('꽝')
print(f'총 당첨금은 {dangm}원 입니다.')
print('도박을 하지 맙시다.')

몇장을 구매하시겠습니까 10

로또 구매에 10000원을 사용하셨습니다.
{4, 37, 5, 40, 9, 11}
BN:
7
[{34, 3, 8, 23, 29, 30}, {34, 37, 6, 21, 24, 27}, {3, 39, 9, 10, 15, 26}, {32, 3, 10, 45, 19, 26}, {32, 1, 5, 10, 16, 29}, {1, 37, 12, 27, 28, 30}, {3, 39, 8, 42, 14, 27}, {2, 5, 44, 17, 29, 30}, {1, 33, 34, 43, 26, 31}, {33, 2, 37, 45, 21, 29}]
꽝
꽝
꽝
꽝
꽝
꽝
꽝
꽝
꽝
꽝
총 당첨금은 0원 입니다.
도박을 하지 맙시다.