# 제어문

## 조건문 (if문)

1. if문은 반드시 일정한 참/거짓을 판단 할 수 있는 `조건식`과 함께 사용된다.
    - (`if <조건식>:`)
2. `<조건식>` 참(True)인 경우 `:` 이후의 문장을 실행
3. `<조건식>` 거짓(False)인 경우 `else:` 이후의 문장을 실행

```
if <조건식>:
    if의 조건식이 참인 경우 실행
else:
    if의 조건식이 거짓인 경우 실행
```

In [ ]:
my_string = input()

if my_string == '12/25':
    print('크리스마스입니다.')
else:
    print('크리스마스가 아닙니다.')

In [ ]:
num = input('숫자를 입력해주세요')

result = int(num) % 2

if bool(result):
    print('홀수입니다.')
else:
    print('짝수입니다.')

In [ ]:
num = int(input())

if num % 2 == 1:
    print('홀수')
else:
    print('짝수')

In [ ]:
num = int(input())

if num % 2 == 0:
    print('짝수')
else:
    print('홀수')

In [ ]:
num = int(input())

if num % 2:
    print('홀수')
else:
    print('짝수')

### elif

```
if <조건식>:
    if 조건이 참인경우
elif <조건식>:
    elif 조건식이 참인경우
...
else:
    위의 조건식이 하나도 부합하지 않는 경우 
```

In [ ]:
score = int(input())

In [ ]:
# 90점 이상 A
# 80~89 B
# 70~79 C
# 나머지 F

if score >= 90:
    print('A')
elif score >= 80 and score <= 89:
    print('B')
elif 70 <= score <= 79:
    print('C')
else:
    print('F')

In [ ]:
if score >= 90:
    print('A')
    if score >= 95:
        print('참잘했어요')
elif score >= 80:
    print('B')

### 조건표현식

```
true_value if <조건식> else false_value
```

In [ ]:
print('True') if 1 < 0 else print('False')

In [ ]:
if 1 > 0:
    print('True')
else:
    print('False')

In [ ]:
num = 5
value = num if num >= 0 else 0
print(value)

In [ ]:
num = 5

if num >= 0:
    value = num
else:
    value = 0
print(value)

In [ ]:
num = 3

if num % 2:
    result = '홀수'
else:
    result = '짝수'

print(result)

In [ ]:
num = 3
result = '홀수' if num % 2 else '짝수'
print(result)

## 반복문

### while문

```
while <조건식>:
    실행할 코드
```

In [ ]:
a = 0

while a < 5:
    print(a)
    a += 1

In [ ]:
greeting = ''

while greeting != '안녕':
    greeting = input('안녕이라고 말해줘')

### for

정해진 범위 내의 반복
```
for variable(item) in sequence:
    code
```

In [ ]:
numbers = [1, 2, 3, 4, 5]

for number in numbers:
    print(number)

In [ ]:
word = input('단어를 입력해주세요')

for char in word:
    print(char)

In [ ]:
for i in range(5):
    print(i)

In [ ]:
for i in (1, 2, 3, 4, 5):
    print(i)

In [ ]:
# 1~30 까지 숫자들 중에서 홀수만 출력

numbers = range(1, 31)

for number in numbers:
    if number % 2:
        print(number)

In [ ]:
menus = ['라면', '김밥', '백반']
for menu in enumerate(menus):
    print(menu)

In [ ]:
for index, menu in enumerate(menus):
    print(index)
    print(menu)

### dictionary 반복

1. for key in dict:
2. for key in dict.keys():
3. for key in dict.values():
4. for key, value in dict.items():

In [ ]:
info = {
    'name': 'gildong',
    'location': 'seoul',
    'phone': '010-1234-1234',
    'age': 20,
}

In [ ]:
for cat in info:
    print(cat)
    print(info[cat])

In [ ]:
for key in info.keys():
    print(key)
    print(info[key])

In [ ]:
for value in info.values():
    print(value)

In [ ]:
for key, value in info.items():
    print(key, value)

In [2]:
blood_type = {
    'A': 5,
    'B': 3,
    'O': 2,
    'AB': 2,
}

In [ ]:
# 혈액형의 종류는 ?? ?? 입니다.
print('혈액형의 종류는', end=' ')
for key in blood_type.keys():
    print(key, end=' ')
print('가 있습니다')

In [5]:
# 총 학생수는 몇명입니다.
result = 0
for value in blood_type.values():
    result = result + value

print(f'총 학생수는 {result}명입니다.')

총 학생수는 12명입니다.

### break
반복문을 종료 시키는 키워드

In [7]:
for i in range(100):
    if i > 10:
        break
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [10]:
rice = ['보리', '보리', '보리', '보리', '쌀', '보리']

for r in rice:
    print(r)
    if r == '쌀':
        print('잡았다')
        break

보리
보리
보리
보리
쌀
잡았다

In [11]:
i = 0

while True:
    if rice[i] == '쌀':
        print('잡았다')
        break
    print(rice[i])
    i = i + 1

보리
보리
보리
보리
잡았다

### continue

continue 이후의 코드를 실행하지 않고 다음 반복을 진행

In [14]:
for i in range(20):
    if i % 2:
        continue
    print(i)

0
2
4
6
8
10
12
14
16
18

In [17]:
ages = [10, 20, 38, 82, 11, 13, 39]

for age in ages:
    if age <= 20:
        continue
    print(f'{age}살은 성인입니다.')

38살은 성인입니다.
82살은 성인입니다.
39살은 성인입니다.

### else

else문은 끝까지 반복된 후 실행됩니다.
break를 만나지 않았을때 실행됩니다.

In [20]:
for i in range(10):
    if i > 5:
        break
    print(i)
else:
    print('else입니다.')

0
1
2
3
4
5

### pass

In [29]:
if True:
    pass

### match

```
match value:
    case 조건:
        code
    case 조건:
        code
    case _:
        code

```

In [28]:
status = 123

match status:
    case 200:
        print('ok')
    case 404:
        print('bad')
    case _:
        print('i dont know')

i dont know