### 함수

In [ ]:
hight = 50
width = 30

area = hight * width

perimeter = (hight + width) * 2

print(f'사각형의 넓이는 {area}고, 둘레는{perimeter}입니다.')

In [ ]:
hight2 = 100
width2 = 10

area2 = hight2 * width2

perimeter2 = (hight2 + width2) * 2

print(f'사각형의 넓이는 {area2}고, 둘레는{perimeter2}입니다.')

### 함수의 선언과 호출

- 선언(정의)
```python
def func_name(paramite1, paramiter2, ...):
    code1
    code2
    ...
    return value
```

- 호출(사용)
```pyton
func_name(paramiter1, paramiter2, ...)
```

In [ ]:
def rectangle(hight, width):
    area = hight * width
    perimeter = (hight + width) * 2
    print(area, perimeter)

In [ ]:
rectangle(30, 2)

In [ ]:
for a in range(5):

In [ ]:
dir(__builtin__)

In [ ]:
max([1, 3, 23, 123, 32])

In [ ]:
def my_max(num1, num2):
    if num1 > num2:
        print(num1)
    elif num1 < num2:
        print(num2)
    else:
        print('같아요')

In [ ]:
my_max(
    23, 123
)

### 함수의 return

- 함수가 return을 만나면 해당값을 반환하고 함수를 종료

- 만약 return이 없는 경우 None을 자동으로 반환

- return은 오직 하나의 객체만 반환한다

In [ ]:
result = my_max(1, 2)
print(result)

In [ ]:
you = 10000
me = 5000
print(you + me)


def funfun(you, me):
    return print(you + me)

funfun(10, 5)

In [ ]:
def my_max2(num1, num2):
    if num1 > num2:
        return num1
    elif num1 < num2:
        return num2
    else:
        return num1

In [ ]:
my_max(1, 2)

In [ ]:
result = my_max2(1, 2)

In [ ]:
def my_list_max(list1, list2):
    
    lsum1 = 0
    for i1 in list1:
        lsum1 += i1
        
    lsum2 = 0
    for i2 in list2:
        lsum2 += i2

    if lsum1 > lsum2:
        return list1
    elif lsum1 < lsum2:
        return list2
    else:
        return '크기가 같아요'

In [ ]:
print(my_list_max([1, 2, 3], [2, 3, 4]))

In [ ]:
def my_list_max(list1, list2):
    
    big = 0

    for i1 in list1:
        big = big + i1
    for i2 in list2:
        big = big - i2

    if big > 0:
        print(list1)
    elif big < 0:
        print(list2)
    else:
        print('크기가 같아')

In [ ]:
my_list_max([1, 2, 3], [2, 3, 4])

In [ ]:
def my_list_max(list1, list2):
    
    if sum(list1) > sum(list2):
        print(list1)
    elif sum(list1) < sum(list2):
        print(list2)
    elif sum(list1) = sum(list2):
        print('같아요')

In [ ]:
def my_def(x):
    return x, x +2

my_def(10)

### 함수의 인수
## 위치인수
기본적으로 함수는 위치를 기준으로 인수를 판단합니다.

In [ ]:
def cyl(r, h):
    return 3.14 * r ** 2 * h

### 기본값
```pyton
def func(p1=v1):
code
return velue
```

In [ ]:
def greeting(name='익명'):
    return f'{name}님 반갑습니다.'

In [ ]:
greeting(
)

In [ ]:
print('안냥', '난길동', 'ㅇ응러ㅐ',sep='\n', end='! ')

In [ ]:
def greeting(name='익명', age):
    return f'{name}님 의 나이는 {age}입니다.'

In [ ]:
def greeting(age, name='익명'):
    return f'{name}님 의 나이는 {age}입니다.'

In [ ]:
greeting(10, 'dd')

### 키워드 인수
함수를 호출(실행)할떄 내가 원하는 위치에 직접적으로 특정인자를 전달

In [ ]:
def greeting(age, name='익명'):
    return(f'{name}님의 나이{age}살')

In [ ]:
greeting(name='루루',age=99)

### 가변인자 리스트
```python
def func(*parms)

In [ ]:
def my_print(*words):
    print(words)

In [ ]:
my_print('q', 'am' ,'nu')

In [ ]:
import math

def my_max(*numbers):
    
    m_number = -math.inf
    
    for number in numbers:
        if m_number >= number:
            continue
        else:
            m_number = number
    return m_number

In [ ]:
import math

def my_max(*numbers):
    
    m_number = float("-inf"):
    for number in numbers:
        if m_number >= number:
            continue
        else:
            m_number = number
    if m_number == float("-inf"):
        m_number = None
    return m_number

In [ ]:
# 간략히 개선
def my_max(*numbers):
    
    m_number = numbers[0]
    for number in numbers:
        if m_number < number:
            m_number = number
    return m_number

### 정의되지 않은 키워드 인자 처리하기

```pyton
def func(**kw)
```

In [ ]:
info = {
    'name': 'lee',
    'age' : 222,
}
print(info)

In [ ]:
info = dict(name='kim', age=7)

In [ ]:
def my_func(

### dictionary를 인자로 넣기(unpacking)

In [ ]:
user_info

### lambda 표현식

```python
lambda parameter: exression

In [ ]:
(lambda num1, num2: num1 + num2)(1,2)

### 타입힌트

In [ ]:
def my_sum(a: int, b: int) ->int:
    return a + b

In [ ]:
my_sum(1,

### 이름공간 (scope, namespace)

python에서 사용되는 이름들은 이름공간에 저장되어 있습니다.

1. Local: 정의된 함수 내부
2. Enclosed: 
3. Global
5. Built-in

In [ ]:
def global_scope(a):
    
    a = a + 1
    return a

print(a)
print(local_scope(4))

In [ ]:

def fact (n: int):
    if n == 1:
        return 1
    else:
        return fact(n-1) * n

fact(3)

In [ ]:


my_list = 'my name is lee'

# >> my nm s
ae = ['a', 'e', 'i', 'o', 'u',]

result = []

for a in my_list:
    if a in ae:
        continue
    else:
        result.append(a)

print(result)

In [ ]:
my_list = 'my name is lee'

ae = ['a', 'e', 'i', 'o', 'u',]
result = []

for a in my_list:
    if a not in ae:
        result.append(a)

print(result)

print(''.join(result))

In [ ]:
vowels = 'aeiou'

for char in vowels:
   my_list = my_list.replace(char,'')

print(my_list)

### dictionary 메소드

In [ ]:
info = {
    'name': 'lee',
    'location': 'paju',
    'age': 100,
    'models': ['aa', 'bb', 'cc',],
    'didi': {'dd':'ddd',
        }
}

In [ ]:
print(info['name'])

In [ ]:
print(info['models'])

In [ ]:
info['name'] = 'kim'
print(info)

info.update(name='park')
print(info)

In [ ]:
age = info.pop('age')
print(info, age)
print(age, age)

In [ ]:
print(info.get('asdf'))

In [1]:
blt = ['a', 'b', 'b', 'o', 'ab', 'a', 'c']

In [6]:
blc = []

bld = {}

for bl in blt:
    blc = blt.count(bl)
    bld[bl] = blc
    while bl not in blt:
        blt.remove(bl)
    
print(bld)

{'a': 2, 'b': 2, 'o': 1, 'ab': 1, 'c': 1}

In [3]:
bltt = ['a', 'b', 'o', 'ab']

blc = []

bld = {}

for bl in bltt:
    blc = blt.count(bl)
    bld.update({bl: blc})
print(bld)

{'a': 2, 'b': 2, 'o': 1, 'ab': 1}

### dict comprehension

In [11]:

result = {number: number ** 3 for number in range(1, 11)}
print(result)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [23]:
dust = {
    '서울': 50,
    '대전': 100,
    '부산': 70,
    '광주': 90,
}

# 80이상 dict

result={}

for city, dust_v in dust.items():
    if dust_v > 80:
        result[city] = dust_v

print(result)



print(dust)

print(dust.items())

print(dust.keys())

print(dust.values())

{'대전': 100, '광주': 90}
{'서울': 50, '대전': 100, '부산': 70, '광주': 90}
dict_items([('서울', 50), ('대전', 100), ('부산', 70), ('광주', 90)])
dict_keys(['서울', '대전', '부산', '광주'])
dict_values([50, 100, 70, 90])

In [29]:
result = {k:v for k, v in dust.items()}
print(result)

{'서울': 50, '대전': 100, '부산': 70, '광주': 90}

In [60]:
f = {'aaa', 'bbb', 'ccc', 'ddd'}

In [61]:
f.add('ooo')

In [62]:
f.update({'eee', 'fff'})
print(f)

{'fff', 'ccc', 'eee', 'ooo', 'aaa', 'ddd', 'bbb'}

In [63]:
f.remove('aaa')
print(f)

{'fff', 'ccc', 'eee', 'ooo', 'ddd', 'bbb'}

### map, filter, zip

In [68]:
num = [1, 2, 3, 4, 5]
numbers = []

for n in num:
    numbers.append(str(n))

print(numbers)

['1', '2', '3', '4', '5']

In [81]:
def cube(x):
    return x ** 3

result = map(cube, num)
print(list(result))

[1, 8, 27, 64, 125]

### filter

In [82]:
def is_odd(x):
    return x % 2

In [84]:
numbers = [1, 2, 3, 4, 5]

result = []
for number in numbers:
    if number % 2:
        result.append(number)

print(result)

[1, 3, 5]

In [87]:
resul = filter(is_odd, numbers)
print(list(result))

[1, 3, 5]

### zip

In [91]:
a = [1, 2, 3]
b = [100, 200, 300, 400]
c = [111, 222]

result = zip (a, b, c)
print(list(result))

[(1, 100, 111), (2, 200, 222)]